/* this is for mobile view */
:root{
    ---primary-color:#A9A9A9;
    ---body-color:#d9d9d9;
    ---secondary-color:#023047;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    background-color: var(---body-color);
    
}
header,footer{
    background-color:var(---primary-color);
    color:var(---secondary-color);
    text-align: center;
    margin:0;
    padding:15px;
}

h1, h2, h3, p{
    color:var(---secondary-color);
    text-align: center;
    padding: 10px;
}

nav a{
    color:var(---secondary-color);
    display: block;
    text-align: center;
    background: none;
    border:none;
    padding:1rem;
    text-decoration: none;
    font-weight: 500;
    display:none;
    margin: 0 auto;
}

nav a:hover{
 text-decoration: underline;
}
nav a:active{
    color:black;
}

main {
    max-width:100%;
    margin:0 auto;
    text-align: center;
}

#menu{
    position: absolute;
    top: 20px;
    left:20px;
    color:var(---secondary-color);
    font-size: 2rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "❎";
    font-size: 2rem;
}
.open a{
    display: block;
}

.templeSection{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.templeSection section{
    background-color: #adb5bd;
    border: solid black 1px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #444444;
    
}

.templeSection img{
    max-width: 400px;
    height:auto;
   
}

footer{
    margin-top: 15px;
}
